@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}
<html>
	<head>
	   <link rel="stylesheet" type="text/css" href="/css/mystyle.css" />
	</head>
	<body>
	Test
	<h1>@CurrentPage.yourLocation</h1>
        Latitude<span>@CurrentPage.yourLocation.latitude</span>
	Longitude<span>@CurrentPage.yourLocation.longitude</span>
        

	</body>
	</html>